<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>J&J - Equipo</title>
    <link rel="icon" href="assets/images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">



    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>J&J <em>Rent a Car</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="fleet.php">Autos</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>

                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Más</a>
                  
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="team.html">Equipo</a>
                    <a class="dropdown-item" href="about-us.html">Sobre nosotros</a>
                  </div>
              </li>

                <li class="nav-item"><a class="nav-link" href="contact.php">Contactanos</a></li>
                <li class="nav-item"><a class="nav-link" href="Login.php">LogIn</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/Header4.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Conoce a nuestra escuadra</h4>
              <h2>Nuestro Equipo</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="assets/images/Haraca_kiko.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a target="_blank" href="https://www.instagram.com/haracakikooficial/?hl=es-la"><i class="fa fa-instagram"></i></a></li>                 
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Haraca kiko</h4>
                <span>Mecanico</span>
                <p>Haraca kiko haraca kiko, jajajajaja. Un famoso dembowsero</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="assets/images/Trippie_redd.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a target="_blank" href="https://www.instagram.com/trippieredd/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                      <li><a target="_blank" href="https://twitter.com/trippieredd?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Trippie redd</h4>
                <span>experto en productos</span>
                <p>Trippie redd, un experto en productos y tambien un rapero famoso.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="assets/images/Nicki_Minaj.png" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a target="_blank" href="https://www.instagram.com/nickiminaj/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                      <li><a target="_blank" href="https://twitter.com/NICKIMINAJ"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Nicki Minaj</h4>
                <span>Jefe de marketing</span>
                <p>La famosa Cantautora y rapera, ahora está trabajando como jefa de marketing.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="assets/images/Kim_Kardashian.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a target="_blank" href="https://www.instagram.com/kimkardashian/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                      <li><a target="_blank" href="https://twitter.com/KimKardashian"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Kim Kardashian</h4>
                <span>Marketing</span>
                <p>Kim es una profesional en el marketing, es la encargada de todas las promociones.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="assets/images/Peter_parker.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a target="_blank" href="https://www.instagram.com/tobey_maguire10/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Peter Parker</h4>
                <span>Fotografo</span>
                <p>Peter parker es un fotografo famoso, tiene otro trabajo tambien, pero es secreto.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="assets/images/Justin_Bieber.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a target="_blank" href="https://www.instagram.com/justinbieber/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                      <li><a target="_blank" href="https://twitter.com/justinbieber"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>Justin Bieber</h4>
                <span>Manager general</span>
                <p>Justin es el encargado principal de administrar y gestionar todo lo que pasa.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2023 J&J Rent a car. <br> <a href="contact.php">Contactanos!</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>

  </body>

</html>
